body, html{
  height: 100%;
  font-family: 'Lato', sans-serif;
}
.body{
  height: 100vh;
}
.jumbotron {

  background-size: cover;
}
.btn-primary{
  color: #ffffff;
  background-color: pink;
  border-color: pink;
}
/* .container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
    margin: 0 auto;
}

.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {

    100% {opacity: 0; transform: scale(2.5);}
}
.container{
  margin-top: 10vh;
} */
